form {
    margin: auto;
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 5px solid black;
}
body {
    display: flex;
    align-items: center;
}